<h1>Posts</h1>
<div class="row">
	<div class="col-md-6">
		<select class="form-control" [hidden]="postLoading" (change)="filterPosts({userId: u.value})" #u>
  			<option value="">Select User...</option>
  			<option value="{{user.id}}" *ngFor="#user of users"> {{user.name}} </option>
		</select>
		<spinner [hidden]="!postLoading"></spinner>
		<ul class="list-group posts">
			<li *ngFor="#post of posts" class="list-group-item" [class.active]="clickedPost == post" (click)="onClick(post)">{{post.title }}</li>
		</ul>
	</div>
	<div class="col-md-6">
		<div *ngIf="isPost" class="panel panel-default ">
			<div class="panel-heading">
				<h4 class="panel-title"> {{clickedPost.title}} </h4>
			</div>
			<div class="panel-body">
				{{clickedPost.body}}
			</div>
			<hr>
			<spinner [hidden]="!commentsLoading"></spinner>
			<div class="media" *ngFor="#comment of comments">
				<div class="media-left">
					<img class="media-object round-border-img" src="http://lorempixel.com/60/60/?random={{comment.id}}" alt="...">
				</div>
				<div class="media-body">
					<h4 class="media-heading">{{comment.name}}</h4>
					{{comment.body}}
				</div>
			</div>
		</div>
	</div>
</div>